
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.title {
  background-color: black;
  color: white;
  padding: 12px;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Nosifer', cursive;
}

#filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px;
}

.filter-element {
  background-color: black;
  color: white;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 6px;
  cursor: pointer;
  font-family: 'Cinzel', serif;
}

.filter-element:hover {
  background-color: #8680c2aa;
}

.filter-active {
  background-color: rgb(121, 150, 214);
}

#gallery-container {
  width: 90%;
  margin: 0 auto;
  column-count: 3;
  column-gap: 0.5rem;
}

.gallery-image {
  width: 100%;
  margin-bottom: 0.5rem;
}

.gallery-image.hide-image {
  display: none;
}

@media (max-width: 920px) {
  #gallery-container {
    column-count: 2;
  }
}
